@use '../utils' as *;

/*----------------------------------------*/
/*  1.6 Buttons
/*----------------------------------------*/
.si-circle-btn {
    display: inline-block;
    text-align: center;
    border: 1px solid var(--si-border-4);
    width: 200px;
    height: 200px;
    place-content: center;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: all 0.9s ease-out;
    @media #{$md}{
        width: 150px;
        height: 150px;
        margin-bottom: 30px;
    }
    @media #{$xs}{
        width: 150px;
        height: 150px;
        margin-bottom: 30px;
    }
    &:hover{
        border: 1px solid transparent;
    }
    &-title{
        font-size: 20px;
        color: var(--si-common-black);
        padding-top: 16px;
        display: inline-block;
        @media #{$md}{
            font-size: 17px;
        }
        @media #{$xs}{
            font-size: 17px;
        }
    }
    &-dot{
        position: absolute;
        bottom: 0;
        left: 32px;
        width: 0px;
        height: 0px;
        -webkit-transition: all 0.6s ease-out;
        -moz-transition: all 0.6s ease-out;
        -ms-transition: all 0.6s ease-out;
        -o-transition: all 0.6s ease-out;
        transition: all 0.6s ease-out;
        line-height: 20px;
        border-radius: 50%;
        background-color: var(--si-theme-primary);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border: 1px solid transparent;
        z-index: -1;
    }
    &:hover .si-circle-btn-dot {
        width: 420px;
        height: 420px;
    }
}
// Button Style One
.si-btn-one{
    background: var(--si-common-black);
    padding:  8px 8px 5px 33px;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 7px;
    position: relative;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    border-radius: 50px;
    line-height: 1;
    z-index: 2;
    overflow: hidden;
    white-space: nowrap;
}
.btn-icon{       
    display: inline-block;
    background: var(--si-common-white);
    width: 39px;
    height: 39px;
    line-height: 39px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    transition: 0.6s;
    z-index: 1;
    img{
        transition: 0.6s;
    }
}
.si-btn-one .btn-icon i{
    font-size: 17px;
    transform: rotate(-45deg);
    transition: 0.6s;
    color: var(--si-common-black);
}
.si-btn-one:hover .btn-icon i{
    transform: rotate(0deg);
}
.si-btn-white {
	background: var(--si-common-white);
	color: var(--si-common-black);
}
.si-btn-one .btn-text span {
    display: flex;
    line-height: 1;
    text-shadow: 0 30px 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}
.si-btn-one .btn-text {
    color: var(--si-common-white);
    overflow: hidden;
    padding: 0 0 2px 0;
}
.si-btn-one:hover .btn-text span {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
}
.black-bg-btn{
    background: var(--si-common-white);
}
.black-bg-btn .btn-icon i{
    color: var(--si-common-white);
}
.black-bg-btn .btn-text{
    color: var(--si-common-black);
}
.btn-icon2{
    background: var(--si-common-black);
}
.border-btn{
    border: 1px solid var(--si-common-black);
}