@use '../../utils' as *;

/*----------------------------------------*/
/*  1.2 Banner Css
/*----------------------------------------*/

.si-banner{
    &-area{
        @media #{$xs}{
            display: none;
        }
    }
    &-img{
        overflow: hidden;
        height: 800px;
        @media #{$xxl,$xl}{
            height: 700px;
        }
        @media #{$lg,$md,$xs}{
            height: 350px;
        }
    }
}